PROJECT_NAME=Voluntra
API_V1_STR=/api/v1
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_URL=postgresql://voluntra:voluntrapassword@localhost:5432/voluntra_db
REDIS_URL=redis://localhost:6379/0
CLOUDINARY_URL=
